@import "tailwindcss";

@plugin "daisyui" {
    themes: all;
}

/* Option 1: Calm & Professional (Blue Theme)

Primary: #1E3A8A (Deep Navy Blue)

Secondary: #2563EB (Bright Blue)

Background: #F9FAFB (Light Gray / Off-White)

Accent: #10B981 (Teal / Success)

Text: #111827 (Almost Black) */